body{
    height: 100vh;
    width: 100vw;
    background: url('../img/sky.jpg');
    background-size: cover;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
}


header {
    background-color: rgb(255, 255, 255, 0.8);
    height: 60px;
    width: 100%;
    position: absolute;
    top:0%;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

#logo {
    width: 250px; 
    height: auto;
    position: absolute;
}

nav{
    position: relative;
    right: -35%;
    word-spacing: 100px;
    font-size: 20px;
}

a{
    color: rgb(65, 63, 63);
    font-family: "Times New Roman";
    font-weight: 600;
    text-decoration: none;
}

a:hover{
    color: #7a7373;
}

aside {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    top: 10.5%;
    left: 70%;
    width: 250px;
    padding: 30px;
    border-radius: 10px;
}

#autor {
    width: 200px;
    height: auto;
    position: relative;
    left: 25px;
    border-radius: 100%;
}

section{
    padding: 20px;
    padding-top: 500px;
    width: 65%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    top:22%;
    left: -20%;
}

h1{
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 30px;
}

#imgpag1{
    position: absolute;
    top:2%;
    height: 500px;
    width: 1000px;
    border-radius: 10px;
    left: 3.5%;
 }

 footer{
    background-color: rgb(255, 255, 255, 0.8);
    height: 60px;
    width: 100%;
    position: absolute;
    display: flex;
    top: 140%;
    padding: 50px 20px;
}

h4{
    position: absolute;
    font-size: 20px;
    font-family: 'Times New Roman';
    left: 5%;
}

#redes{
    position: absolute;
    font-size: 15px;
    font-family: 'Times New Roman';
    left: 5%;
}

#Padrao{
    padding-top: 0%;
    position: static;
    width: 90%;
    top:22%;
}

.capas{
    height: 300px;
    width: auto;
}
